<div class="card mb-4 card-custom-border">
  <div class="card-header bg-custom">
    <div class="row justify-content-between">
      <div class="col-auto">
        <h4 class="card-title">
           <%= post.title %>
        </h4>
      </div>
      <div class="col-auto">
        <%= render 'users/follow_button', user: post.user %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p><em>By <%= post.user.name %></em></p>
    <%= image_tag post.url, class: "img-fluid mb-2" %>
    <p><%= post.body %></p>
    <div class="row justify-content-between">
      <div class="col-auto">
        <p><small>Posted <%= time_ago_in_words(post.created_at) %> ago</small></p>
      </div>
      <div class="col-auto">
        <p><small>Comments: <%= post.comments.count %></small></p>
      </div>
    </div>
    <% unless local_assigns[:show_page] %>
      <p><%= link_to "View Post", post_path(post) %></p>
    <% end %>

  </div>
</div>